@import url(https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Overpass:wght@400;700&display=swap);

:root {
	--very-dark-blue: hsl(233, 47%, 7%);
	--dark-desaturated-blue: hsl(244, 38%, 16%);
	--soft-violet: #aa5cdb;
	--white: hsl(0, 0%, 100%);
	--slight-transparent-white: hsla(0, 0%, 100%, 0.75);
	--transparent-white: hsla(0, 0%, 100%, 0.5);
}

* {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.card-container,
body {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background-color: var(--very-dark-blue);
	height: 100vh;
}

.card-container {
	flex-direction: row-reverse;
	height: 450px;
	max-width: 920px;
}

.card-content,
.card-image {
	height: 100%;
	width: 50%;
}

.card-image img {
	content: url(./assets/image-header-desktop.jpg);
	filter: sepia(90%) saturate(500%) hue-rotate(228deg) brightness(90%)
		contrast(70%);
	border-radius: 0 8px 8px 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.card-content {
	background-color: var(--dark-desaturated-blue);
	padding: 4rem;
	display: flex;
	flex-direction: column;
	border-radius: 8px 0 0 8px;
}

.stats h2,
.title {
	color: var(--white);
}

.stats p,
.title {
	font-family: 'Lexend Deca', sans-serif;
}

.description,
.title {
	margin-bottom: 2rem;
}

.title {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.4;
}

.title span {
	color: var(--soft-violet);
}

.description {
	color: var(--slight-transparent-white);
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.8;
	padding-right: 1.5rem;
}

.stats-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 1.5rem;
	margin-top: auto;
}

.stats h2 {
	margin-bottom: 0.3rem;
}

.stats p {
	font-size: 0.75rem;
	color: var(--transparent-white);
}

/* @media screen and (max-width: 575px) {
	.stats-container {
		flex-direction: column;
		justify-content: space-evenly;
		gap: 1.75rem;
		margin: 1rem 0 2rem;
	}
} */

@media screen and (max-width: 767px) {
	body {
		/* display: block; */
		background-color: var(--very-dark-blue);

		padding: 1.75rem;
	}
	.card-container {
		margin: 0 auto;
		min-height: 450px;
		max-width: 600px;
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.card-content,
	.card-image {
		width: 100%;
	}
	.card-image {
		height: 320px;
	}
	.card-content {
		height: auto;
		padding: 1.5rem;
	}
	.card-image img {
		content: url(./assets/image-header-mobile.jpg);
		object-fit: cover;
		border-radius: 8px 8px 0 0;
	}
	.description,
	.stats,
	.title {
		text-align: center;
	}
	.title {
		margin-bottom: 1rem;
	}
	.description,
	.stats-container {
		padding-right: 0;
	}
	.stats-container {
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 1.75rem;
		margin: 1rem 0 2rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	body {
		/* display: block; */
		background-color: var(--very-dark-blue);
		/* height: 100vh; */
		padding: 1.75rem;
	}

	.card-container {
		margin: 0 auto;
		min-height: 450px;
		max-width: 600px;
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.card-content,
	.card-image {
		width: 100%;
	}
	.card-image {
		height: 320px;
	}
	.card-content {
		height: auto;
		padding: 1.5rem;
	}
	.card-image img {
		content: url(./assets/image-header-mobile.jpg);
		object-fit: cover;
		border-radius: 8px 8px 0 0;
	}
	.description,
	.stats,
	.title {
		text-align: center;
	}
	.title {
		margin-bottom: 1rem;
	}
	.description,
	.stats-container {
		padding-right: 0;
	}
	.stats-container {
		justify-content: space-evenly;
		gap: 1.75rem;
		margin: 1rem 0 2rem;
	}
}
